<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vinodh contact details</title>
    </head>
    <body>
        <h1>vinodh kumar</h1>
        <p>+91-9585398984</p>
        <p>Email:bssvinodh@gmail.com</p>
        <hr>
        <form class="" action="mailto:bssvinodh@gmail.com" method="post" enctype="text/plain">
            <label>your name:</label>
            <input type="text" name="yourName" value=""><br>
            <label>your contact:</label>
            <input type="text" name="yourEmail" value=""><br>
            <label>your message:</label>
            <textarea name="YourMessage" rows="8" column="10"></textarea><br>
            <input type="submit" name="">
        </form>
    </body>
</html>